<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="${title}"></title>
</head>

<style>
      table th, table td {
	padding: 5px;
	      
}

      .message {
	color: blue;
	      
}
   
</style>
<body>
	       
	<!-- Include _menu.html -->
	      
	<th:block th:include="/menu"></th:block>
	        
	<h2>Projects</h2>
	   
	<table border="1">
		<tr>
			<th>Topic</th>
			<th>Descriptions</th>
			<th>Trainer</th>
			<th>Lead</th>
			<th>Date</th>
			<th>Status</th>
		</tr>

		<tr th:each="topic : ${topics}">
			<td th:utext="${topic.mainTopic}">...</td>
			<td th:utext="${topic.topicDesc}">...</td>
			<td th:utext="${topic.trainer}">...</td>
			<td th:utext="${topic.lead}">...</td>
			<td th:utext="${topic.date}">...</td>
			<td th:utext="${topic.status}">...</td>
			<td>
				<!-- <form ACTION="#" th:action="@{/edit}" th:object="${topic}"
					method="POST">
					<input type="hidden" th:value="${topic.id}" />
					    <input type="hidden" th:field="${id}" />
 
					<button type="submit">Submit</button>
				
				</form>
				 -->
				<button type="submit">
					<a th:href="@{'/viewTopic/' + ${topic.id}}"> <span>View</span>
					</a>
				</button>
			</td>

		</tr>
	</table>
	       
</body>
</html>