<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="${title}"></title>
<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<body>
	   	       
<div class="container">    
	<!-- Include _menu.html -->
	<!--       
	<th:block th:include="/menu"></th:block>
	 -->        
	<h2>Projects</h2>
	   
	<table border="1" class="table table-hover">
		<tr>
			<th>Topic</th>
			<th>Descriptions</th>
			<th>Trainer</th>
			<th>Lead</th>
			<th>Date</th>
			<th>Status</th>
			
		</tr>

		<tr th:each="topic : ${topicsInd}">

			<td th:utext="${topic.mainTopic}">...</td>
			<td th:utext="${topic.topicDesc}">...</td>
			<td th:utext="${topic.trainer}">...</td>
			<td th:utext="${topic.lead}">...</td>
			<td th:utext="${topic.date}">...</td>
			<td th:utext="${topic.status}">...</td>
			

		</tr>
	</table>
	</div>       
</body>
</html>