<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<title th:utext="${title}"></title>

<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
</head>

<style>
      table th, table td {
	padding: 5px;
	      
}

      .message {
	color: blue;
	      
}
   
</style>
<body>
	       
<div class="container">
	<!-- Include _menu.html -->
	      
	<!-- <th:block th:include="/menu"></th:block> -->
	        
	<h2>Projects</h2>
	   
	<table border="1" class="table table-hover">
		<tr>
			<th>Topic</th>
			<th>Descriptions</th>
			<th>Trainer</th>
			<th>Lead</th>
			<th>Date</th>
			<th>Status</th>
			<th>Edit</th>
		</tr>

		<tr th:each="topic : ${topics}">
			<td th:utext="${topic.mainTopic}">...</td>
			<td th:utext="${topic.topicDesc}">...</td>
			<td th:utext="${topic.trainer}">...</td>
			<td th:utext="${topic.lead}">...</td>
			<td th:utext="${topic.date}">...</td>
			<td th:utext="${topic.status}">...</td>
			<td>
				<form ACTION="#" th:action="@{/modify}" th:object="${topic}"
					method="POST">
					<input type="hidden" th:name="id" th:value="*{id}" />

 
					<button type="submit" class="btn btn-info">Edit</button>
				
				</form>
				
				<!-- <button type="submit">
					<a th:href="@{'/viewTopic/' + ${topic.id}}"> <span>View</span>
					</a>
				</button> -->
			</td>

		</tr>
	</table>
	 </div>      
</body>
</html>